* {
  scroll-behavior: smooth;
  scroll-margin-top: 2rem;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #2b163e;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6a919;
  border-radius: 0;
  border: 0;
  height: 6rem;
}

.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #320452;
  font-size: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  display: none;
}
#nav-list a {
  color: #951c49;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/* END HEADER */

/* TEMPLATE */
.heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
}
.template {
  background-color: rgb(245, 62, 62);
  margin-bottom: 2rem;
  border-radius: 4rem;
  padding: 3rem;
}
.template:nth-of-type(2) {
  background-color: rgb(27, 107, 54);
}
.template:nth-of-type(3) {
  background-color: rgb(118, 111, 10);
}
.template .title {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}
/* END TEMPLATE */

/********** Extra small devices **********/
@media (max-width: 767px) {
  /* Header */
  #nav-list {
    display: block;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}
